.SearchResults {
  height: 100vh;
  overflow: auto;
}

.SearchResults ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* gap: 5px; */
}

ul {
  padding: 0 20px;
}