.songFullContainer {
  display: flex;
}

.songContainer {
  box-sizing: border-box;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  background-color: white;
  color: #1c1c1c;
  /* border-radius: 10px; */
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.albumImage {
  margin-left: 10px;
  height: 60px;
  align-self: center;
}

.eachSong {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

h4 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #558CA4;
  font-weight: 700;
  font-size: 1.1rem;
  text-align: left;
}

h5 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-align: left;
}

h6 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: .9rem;
  text-align: left;
}