.playlist-song-list {
  min-height: 30vh;
  max-height: 80vh;
  overflow-y: scroll;
}

.playlist-song-list ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 0 20px;
  margin-top: 0;
}

@media only screen and (max-width: 450px) {
  .playlist-song-list ul {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.playlist-song-list::-webkit-scrollbar {
  width: 0.2rem;
}
 
.playlist-song-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.playlist-song-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}