

.buttonContainer {
  min-width: 50px;
}

.RemoveButton {
  color: #1c1c1c;
  background-color: #ffd36f;
  min-height: 30px;
  min-width: 30px;
  font-size: 22px;
  font-family: 'Montserrat';
  align-self: center;
  margin: 10px;
  white-space: normal;
  border-width: 0;
  transition-property: background-color;
  transition-duration: .3s;
  border-radius: 50%;
  cursor: pointer;
}

.RemoveButton:hover {
  background-color: #FFE7AD;
}