.SearchBarContainer {
  background-color: white;
}

.SearchBar {
  box-sizing: border-box;
  width: calc(100% - 40px - 160px);
  height: 2.5rem;
  padding: .5rem;
  color: #558CA4;
  text-align: left;
  font-family: "Lora", serif;
  font-size: 1.1rem;
  border-width: 0;
}

.SearchBar:focus { 
  outline: none; 
}

@media only screen and (max-width: 400px) {
  .SearchBar {
    width: calc(100% - 40px - 135px);
    font-size: 1rem;
  }
}