.save-playlist-btn {
  color: #1c1c1c;
  background-color: #ffd36f;
  font-size: .9rem;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1;
  border-radius: 500px;
  padding: 18px 48px 16px;
  transition-property: background-color;
  transition-duration: .3s;
  border-width: 0;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  cursor: pointer;
  margin: 10px auto 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px;
}

.save-playlist-btn:hover {
  background-color: #FFE7AD;
}