.songContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border: 1px solid #3c3c3c;
  margin-bottom: 10px;
  padding: 5px;
}

.songFullContainer {
  display: flex;
}

.albumImage {
  height: 50px;
}
.eachSong {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.h3 {
  margin: 0;
  text-align: left;
}

.h4 {
  margin: 0;
  text-align: left;
}